$font-family: Helvetica, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

$black: #010101;
$white: #fefefe;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-background: $black;
$color-foreground: $white;
$color-primary: $red;
$color-secondary: $green;
$color-highlight: $blue;
